<!-- this is the about us page -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('layout/header.ejs') %>

  
  <div style="background-image: url('styles/imgs/recipe_card.png');">
    <p><%= bioArray[0].name %></p>
    <img src="<%= bioArray[0].image %>" style="height: 100px;"/>
    <p><%= bioArray[0].bio %></p>
  </div>

  <div style="background-image: url('styles/imgs/recipe_card.png');">
    <p><%= bioArray[1].name %></p>
    <img src="<%= bioArray[1].image %>" style="height: 100px;"/>
    <p><%= bioArray[1].bio %></p>
  </div>

  <div style="background-image: url('styles/imgs/recipe_card.png');">
    <p><%= bioArray[2].name %></p>
    <img src="<%= bioArray[2].image %>" style="height: 100px;"/>
    <p><%= bioArray[2].bio %></p>
  </div>

  <div style="background-image: url('styles/imgs/recipe_card.png');">
    <p><%= bioArray[3].name %></p>
    <img src="<%= bioArray[3].image %>" style="height: 100px;"/>
    <p><%= bioArray[3].bio %></p>
  </div>






  <%- include('layout/footer.ejs') %>
</body>
</html>